.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  /*background: rgba(255,255,255,.85);*/
  background: rgba(0, 0, 0, .75);

  top: 0px;
  left: 0px;
  z-index: 99999;

}
.message {
  display: flex;
  min-height: 75vh;

  h3 {
    color: rgba(241, 71, 70,1);
  }

  font-family: Helvetica;

  .content {
    margin: auto;
    text-align: center;
  }

}
