.matRequests {
  .banner {
    height: 4em;
    padding: 0.5em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .title {
      font-size: 1.8em;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: 600;
      color: #333;
    }

    .user-info {
      font-size: 0.9em;
      line-height: 1.5;
      color: #555;

      .label {
        font-weight: bold;
        color: #000; // Ensures the bold stands out
      }
    }
  }

  .appBody {
    height: calc(100% - 4em);
    padding: 1em;
  }
}
