.matRequests {
  .banner {
    height: 3em;
    padding: .5em;
    // margin-bottom: 2em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    .title {
      margin-left: 1.5em;

      font-size: 2em;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight:200;
    }
  }
  .appBody {
    height: calc(100% - 10em);
  }
}



