<div class="matRequests">
  <div class="banner d-flex justify-content-between align-items-center">
    <div class="title">Material Requests!</div>
    <div class="user-info text-end">
      <span class="label">User:</span> <span>{{ loggedInUser || 'N/A' }}</span><br />
      <span class="label">DB Version:</span> <span>{{ dbVersion || 'N/A' }}</span><br />
      <span class="label">Server:</span> <span>{{ serverName || 'N/A' }}</span>
    </div>
  </div>
  <div class="appBody">
    <router-outlet></router-outlet>
  </div>
</div>
