
.container {
  animation: fadeIn ease 500ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1999;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, .25);
  display: flex;
  place-content: center;
  place-items: center;

  .dialog {

    height: 50em;
    width: 80em;
    background-color: white;
    border-radius: 5px;
    border: solid thin rgba(0,0,0, .35);
    box-shadow: 0px 0px 25px rgba(0,0,0,.15);

    font-family: Helvetica;
    font-size: .85rem;

    .header {
      height: 3em;
      padding: 1em;
      // text-align: center;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      box-shadow: 0px 0px 20px rgba(0,0,0, .05);
      // border: solid thin rgba(0,0,0, .35);
      width: 100%;
      box-sizing: border-box;
      .left {
        align-content: start;
        //border: solid thin red;
      }
      .center{
        text-align: center;
        //border: solid thin blue;
      }
      .right{
        align-content: end;
       // border: solid thin red;
      }
    }
    .form {
      padding: 1rem;
      display: grid;
      grid-gap: 1em;
      grid-template-rows: 10em 15em 15em;

      .requestHdr {
        /*border: solid thin green;*/
        box-shadow: 0px 0px 20px rgba(0,0,0, .15);
        border: solid thin rgba(0,0,0, .20);
        border-radius: 3px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: .85em;
        padding: 1em;
        div {
          display: flex;
          place-content: center;
          place-items: center;

          ul {
            list-style-type: none;
            margin: 0;
            padding:0;
            li {
              padding: .15em;
              input[type=date]{
                font-size: .95em;
              }
              select {
                font-size: .85em;
              }
            }
          }
        }
        /*
        ul {
          list-style-type: none;
          margin: 0;
          padding:0;
        }
        */
      }
      .requestBldr {
        /*border: solid thin green;*/
        box-shadow: 0px 0px 20px rgba(0,0,0, .15);
        border: solid thin rgba(0,0,0, .20);
        border-radius: 3px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .box{
          height: 100%;
          width: 100%;
          /*border: solid thin black;*/
          padding: 1em;
          box-sizing: border-box;

          input[type=text]{
            width: 100%;
            text-transform: uppercase;
          }
          .select-container {
            display: block;
            height: 100px;
            //width: 90% !important;

            /*border: solid thin black;*/
            overflow-y: scroll;
            div {
              padding: .25em;
              //width: 80px;
              width: 180px;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: pointer;
            }
            div:hover {
              background-color: rgba(0,0,0, .10);
            }
            .selected {
              background-color: rgba(0,0,0, .10);
              /*color: white;*/

            }


            font-size: .75em;
          }
        }


      }
      .requestItems {
        position: relative;
        height: 100%;
        border-radius: 3px;
        padding: .25em;
        box-shadow: 0px 0px 20px rgba(0,0,0, .15);
        border: solid thin rgba(0,0,0, .20);
        .materials-list-msg {
          height: 100%;
          width: 100%;
          display: flex;
          place-items: center;
          place-content: center;
          font-family: "American Typewriter";
          color: rgba(0,0,0, .25);
        }
      }
      .requestEditor {
        position: relative;
        height: 100%;
        box-sizing: border-box;
        padding: 1em;
        border-radius: 3px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
        border: solid thin rgba(0, 0, 0, .20);
        font-size: .85em;

        .update-request {
          display: grid;
          grid-template-columns: 1fr .5fr .5fr .5fr 1fr ;
        }


      }
      table {
        font-size: .85em;
        border-collapse: collapse;
      }
      thead:after{
        line-height:1em;
        content:"_";
        color:white;
        display:block;
      }
      th {
        text-align: left;
        text-transform: uppercase;
        text-decoration: underline;
        background: rgba(255,255,255, 1);

      }
      td{
        border: solid thin rgba(0,0,0, .05);
      }
      tr:nth-child(odd) {background: rgba(0,0,0, .05);}
      //tr:nth-child(odd) {background: #FFF}

    }
  }
  .controls {

    box-sizing: border-box;
    bottom: 1em;
    display: flex;
    justify-content: space-between;
    place-content: center;
    place-items: center;

  }
  .disable {
    pointer-events: none;
  }

  .loading {

    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid rgba(0,0,0,.3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 250ms ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }


  .spinner:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    width: 10px;
    height: 10px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
  }

  .dot {
    height: 1.25em;
    width: 1.25em;
    font-size: .75em;
    // background-color: #bbb;
    box-sizing: border-box;
    border: solid thin rgba(0,0,0, .25);
    //box-shadow: 2px 2px 5px rgba(0,0,0,.25);
    border-radius: 50%;

    display: flex;
    place-content: center;
    place-items: center;
    float: right;
    margin-right: 1em;
  }

  .tool-tip:hover::after {
    position: absolute;

    content: attr(data-tooltip);
    bottom: -2.5em;
    right: -1em;
    background-color: #333;
    color: white;
    //padding: .25em .5em;
    padding: .5em;
    font-size: 1.25em;
  }

  button {
    padding: 1em;
    margin-left: .25em;
    margin-right: .25em;
    background-color: rgba(50, 129, 168, 1);
    color: white;
    border: transparent;
    border-radius: 50px;
    min-width: 150px;
  }
  button:focus {
    outline: none;
  }
  button:active  {
    outline: none;
    box-shadow: 0 0 25px rgba(0, 55, 99, .5);
  }
  .gray {
    color: rgba(0,0,0, .25);
  }
  .yellow {
    background-color: rgba(248,176,36, 1)
  }
  .green {
    background-color: rgba(56, 193, 49, 1);
  }
  .red {
    background-color: rgba(241, 71, 70,1);
  }
  .blue {
    color: rgba(111, 153, 209, 1);
  }
  .white {
    color: rgba(255,255,255, 1);
  }

}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

